/* stylelint-disable */
@charset "UTF-8";

.desktop-wrap,
.tablet-wrap {
  position: relative;
  min-height: 100vh;
  background-color: #f3f4f5
}

.centered-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.mobile-popup-wrap .centered-vertical {
  width: calc(100% - 40px);
  max-width: 380px
}

.loading-fading-circle {
  margin: 24px auto 0;
  width: 80px;
  height: 80px;
  position: relative
}

.loading-fading-circle .loading-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0
}

.loading-fading-circle .loading-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 6px;
  height: 15.5px;
  background-color: #2f8af3;
  border-radius: 3px;
  -webkit-animation: a 1.2s infinite ease-in-out both;
  animation: a 1.2s infinite ease-in-out both
}

.loading-fading-circle .loading-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg)
}

.loading-fading-circle .loading-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg)
}

.loading-fading-circle .loading-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.loading-fading-circle .loading-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg)
}

.loading-fading-circle .loading-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg)
}

.loading-fading-circle .loading-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.loading-fading-circle .loading-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg)
}

.loading-fading-circle .loading-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg)
}

.loading-fading-circle .loading-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}

.loading-fading-circle .loading-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg)
}

.loading-fading-circle .loading-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg)
}

.loading-fading-circle .loading-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}

.loading-fading-circle .loading-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

.loading-fading-circle .loading-circle4:before {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s
}

.loading-fading-circle .loading-circle5:before {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s
}

.loading-fading-circle .loading-circle6:before {
  -webkit-animation-delay: -.7s;
  animation-delay: -.7s
}

.loading-fading-circle .loading-circle7:before {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s
}

.loading-fading-circle .loading-circle8:before {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}

.loading-fading-circle .loading-circle9:before {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s
}

.loading-fading-circle .loading-circle10:before {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s
}

.loading-fading-circle .loading-circle11:before {
  -webkit-animation-delay: -.2s;
  animation-delay: -.2s
}

.loading-fading-circle .loading-circle12:before {
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s
}

@-webkit-keyframes a {

  0%,
  39%,
  to {
    opacity: .05
  }

  40% {
    opacity: 1
  }
}

@keyframes a {

  0%,
  39%,
  to {
    opacity: .05
  }

  40% {
    opacity: 1
  }
}

.pc-form-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  row-gap: 16px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.pc-form-list__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-align: center
}

.pc-form-list__item,
.pc-form-list__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 40px
}

.pc-form-list__label {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-right: 16px;
  -ms-flex-align: center;
  min-width: 150px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: #222
}

.pc-form-list .pc-field-wrap {
  width: calc(100% - 150px)
}

.pc-form-list-col2 {
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px
}

.pc-form-list-col2 .pc-form-list__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%
}

.pc-option-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px
}

.pc-option-group .pc-radio {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto
}

.notification-list {
  padding: 0;
  margin: 0;
  list-style: none
}

.notification-list li {
  position: relative;
  padding-left: 12px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #777
}

.notification-list li:first-child {
  margin-top: 0
}

.notification-list li:before {
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  text-align: center
}

.notification-list li ul {
  list-style: none;
  padding: 4px 0 0
}

.notification-list li ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #999;
  position: relative;
  padding-left: 9px;
  margin-top: 2px
}

.notification-list li ul li:first-child {
  margin-top: 0
}

.notification-list li ul li:before {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  text-align: center
}

.pc-stepper__header {
  padding-bottom: 12px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 38px
}

.pc-stepper__header:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #222;
  content: ""
}

.pc-stepper__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44
}

.pc-stepper-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px
}

.pc-stepper-stage__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #777
}

.pc-stepper-stage__item:not(:first-child):before {
  position: absolute;
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 1px;
  background-color: #ddd;
  content: ""
}

.pc-stepper-stage__item.current {
  color: #2f3c78;
  font-weight: 500
}

.pc-stepper-stage__item.current .pc-stepper-stage__nums {
  color: #fff;
  background-color: #2f3c78;
  border-color: #2f3c78
}

.pc-stepper-stage__item.completed .pc-stepper-stage__nums {
  font-size: 0;
  background-color: #2f3c78;
  border: none;
  background: url(../images/icon/step@3x.png) no-repeat 50%;
  background-size: 20px 20px;
  vertical-align: top
}

.pc-stepper-stage__nums {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 100%
}

.pc-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px
}

.pc-boxes__item {
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #ccc
}

.pc-boxes.tablet .pc-boxes__item {
  border-color: #666
}

.qr-wrap {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc
}

.qr-wrap__qr-area {
  position: relative;
  width: 130px;
  height: 130px
}

.qr-wrap__refresh {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: hsla(0, 0%, 98%, .3)
}

.qr-wrap__refresh-btn {
  width: 60px;
  height: 60px;
  background: url(../images/icon/refresh-btn@3x.png) no-repeat 50%;
  background-size: 60px;
  font-size: 0
}

.qr-wrap__text {
  margin-top: auto;
  font-size: 14px;
  line-height: 1.71;
  color: #777
}

.pc-login-wrap {
  width: 480px;
  max-width: 480px;
  text-align: center
}

.pc-login-wrap__logo {
  display: inline-block;
  width: 200px;
  min-height: 54px
}

.pc-login-wrap__subtitle {
  font-size: 20px;
  font-weight: 400
}

.pc-login-wrap__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: #2f8af3
}

.pc-login-wrap__error-msg {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #ed1941;
  text-align: left
}

.pc-login-wrap--tablet {
  width: 400px;
  max-width: 400px
}

.pc-login-wrap--tablet .pc-login-wrap__logo {
  width: 162px
}

.pc-login-wrap--tablet .pc-login-wrap__subtitle {
  font-size: 18px
}

.pc-login-wrap--tablet .pc-input--large {
  height: 48px
}

.pc-login-wrap--tablet .pc-input--large .pc-input__append {
  font-size: 14px
}

.pc-login-wrap--tablet .pc-login-wrap__button {
  height: 52px;
  font-size: 20px
}

.pc-login-wrap .TwoFA-area {
  margin-bottom: 20px
}

.pc-link-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 12px
}

.pc-link-list__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%
}

.pc-link-list__inner {
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  background: #fff url(../images/icon/arrow-right_24@3x.png) no-repeat right 30px center;
  background-size: 24px auto;
  border: 1px solid #eee
}

.pc-link-list__inner:before {
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  margin-right: 8px;
  background: url(../images/img/visual_partner@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list__inner.partner:before {
  background: url(../images/img/visual_partner@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list__inner.online:before {
  background: url(../images/img/visual_online@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list__inner.campus:before {
  background: url(../images/img/visual_campus@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner {
  background-color: #f3f4f5;
  border: none
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner.wells1:before {
  background: url(../images/img/wells1@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner {
  background-color: #f3f4f5;
  border: none
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner.wells2:before {
  background: url(../images/img/wells2@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner {
  background-color: #f3f4f5;
  border: none
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner.wells3:before {
  background: url(../images/img/wells3@3x.png) no-repeat 50%;
  background-size: contain
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner {
  background-color: #f3f4f5;
  border: none
}

.pc-link-list.visual-control .pc-link-list__item .pc-link-list__inner.wells4:before {
  background: url(../images/img/wells4@3x.png) no-repeat 50%;
  background-size: contain
}

.mobile-popup-wrap,
.mobile-wrap {
  position: relative;
  height: 100dvh
}

.mobile-popup-wrap .mo-content {
  min-height: calc(100% - 60px)
}

.mobile-popup-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5
}

.mobile-popup-dialog:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .55);
  z-index: 3
}

.mobile-popup-dialog-wrap {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4
}

.mobile-popup-dialog-content {
  background-color: #fff;
  padding: 40px 16px;
  text-align: center
}

.mobile-popup-dialog-content h1 {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px
}

.mobile-popup-dialog-content p {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
  line-height: 22px
}

.mobile-popup-dialog-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.mobile-popup-dialog-footer button {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  font-size: 14px;
  display: block;
  color: #fff
}

.mobile-popup-dialog-footer button.button-negtive {
  background-color: #777
}

.mobile-popup-dialog-footer button.button-positive {
  background-color: #2f8af3
}

.mo-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.mo-logo img {
  padding: 60px 80px 40px
}

.mo-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 55px
}

.mo-header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 20px 15px;
  border-bottom: 1px solid #eee;
  background-color: #fff
}

.mo-title {
  font-size: 18px;
  font-weight: 700;
  color: #222
}

.mo-button {
  position: relative;
  width: 24px;
  height: 24px
}

.mo-button--close {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icon/close_24@3x.png) no-repeat;
  background-size: 24px
}

.mo-content {
  padding: 0 20px 20px;
  min-height: calc(100% - 115px);
  overflow-y: auto
}

.mo-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100dvh - 181px);
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.mo-message p {
  position: relative;
  margin: 0;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  font-weight: 700
}

.mo-message p:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../images/img/visual_check@3x.png) no-repeat;
  background-size: contain
}

.mo-form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px
}

.mo-form-group--row {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.mo-form-group .mo-form-group__label {
  font-size: 14px;
  color: #555
}

.mo-form-group input {
  width: 100%;
  margin-top: 4px;
  padding: 8px 4px;
  line-height: 1.5;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd
}

.mo-form-group input::-webkit-input-placeholder {
  color: #999
}

.mo-form-group input::-moz-placeholder {
  color: #999
}

.mo-form-group input:-ms-input-placeholder,
.mo-form-group input::-ms-input-placeholder {
  color: #999
}

.mo-form-group input::placeholder {
  color: #999
}

.mo-form-group .row .input_with_select {
  width: calc(100% - 68px)
}

.mo-form-group .row select.carrier {
  width: 60px;
  font-size: 16px;
  padding: 9px 4px 7px;
  margin-top: 4px;
  margin-right: 8px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  background: url(../images/icon/arrow-down_16@3x.png) no-repeat 100%;
  background-size: 16px
}

.mo-form-group__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.mo-form-group input[type=checkbox] {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  line-height: 0;
  opacity: 1 !important
}

.mo-form-group input[type=checkbox]:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/img/checkbox_off.svg);
  background-size: contain
}

.mo-form-group input[type=checkbox]:checked:before {
  background: url(../images/img/checkbox_on.svg);
  background-size: contain
}

.mo-form-group input[type=checkbox]+label {
  margin-left: 22px
}

.mo-form-group .mo-button-underline {
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  background-color: inherit;
  text-decoration: underline
}

.mo-form-group .mo-button-line {
  border: 1px solid #666
}

.mo-form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.mo-form-wrap .mo-form-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%
}

.mo-form-wrap .mo-btn {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.mo-radio {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  line-height: 0 !important
}

.mo-radio-button {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 0;
  margin-left: -1px
}

.mo-radio-button:first-child {
  margin-left: 0
}

.mo-radio-button input {
  width: 100%;
  position: absolute;
  margin: 0
}

.mo-radio-button input:checked+label {
  color: #2f8af3
}

.mo-radio-button input:checked+label:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  border: 1px solid #2f8af3;
  z-index: 1
}

.mo-radio-button label {
  position: absolute;
  display: inline-block;
  width: 100%;
  padding: 9px 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff
}

.pc-field-wrap .mo-radio-button label {
  cursor: pointer
}

.mo-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #fff
}

.mo-footer__button-full-size {
  display: block;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #2f8af3
}

.mo-footer__button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.mo-footer__button-wrap button {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  height: 60px;
  font-size: 16px
}

.tooltip {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  position: relative
}

.tooltip img {
  width: 100%
}

.desktop-wrap .tooltip {
  width: 24px;
  height: 24px;
  cursor: pointer
}

.counter {
  position: absolute;
  right: 4px;
  bottom: 8px;
  line-height: 24px;
  font-size: 16px;
  color: #555
}

.mo-stepper__header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 26px
}

.mo-stepper__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44
}

.mo-stepper-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px
}

.mo-stepper-stage__item {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.43;
  color: #777
}

.mo-stepper-stage__item:not(:first-child):before {
  margin: 0 2px;
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  height: 1px;
  background-color: #ddd;
  content: ""
}

.mo-stepper-stage__item.current {
  color: #2f3c78;
  font-weight: 500
}

.mo-stepper-stage__item.current .mo-stepper-stage__nums {
  color: #fff;
  background-color: #2f3c78;
  border-color: #2f3c78
}

.mo-stepper-stage__item.completed .mo-stepper-stage__nums {
  font-size: 0;
  border: none;
  background: #fff url(../images/icon/step@3x.png) no-repeat 50%;
  background-size: 20px 20px;
  vertical-align: top
}

.mo-stepper-stage__nums {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.57;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 100%
}

.mo-app__img {
  height: 80px;
  border: 1px solid #666;
  position: relative
}

.mo-app__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain
}

.mo-validation {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #ed1941
}

/*# sourceMappingURL=../maps/pages.css.map */
